.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f44336;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 4.75em;
  text-align:center;
}

.navLinks {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navLinks a {
  font-family: "Roboto Slab";
  padding: .25em .25em .25em .25em;
  text-decoration: none;
  font-size: 2em;
  color: white;
  display: block;
  transition: 0.3s;
}

.navLinks a:hover {
  font-size: 3em;
}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  right: 2.25em;
  font-size: 3em;
  margin-left: 4.5em;
}

.openbtn {
  left: 2.25em;
  margin-left: 2.25em;
}

.closebtn {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-decoration: none;
  filter: invert(1);
}

.closebtnimg {
  width: 3em;
  height: 3em;
  transition: 0.3s;
}

.closebtnimg:hover {
  transform: translateX(-1em);
}

.openbtn {
  position: fixed;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-decoration: none;
  cursor: pointer;
}

.openbtnimg {
  width: 3em;
  height: 3em;
  transition: 0.3s;
}

.openbtnimg:hover {
  transform: translateX(1em);
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 1.75em;}
  .sidenav a {font-size: 1.75em;}
}
